# IMAP Configuration
IMAP_HOST=...
IMAP_PORT=...
IMAP_SECURE=true
IMAP_USER=...
IMAP_PASS=...

# Anthropic
ANTHROPIC_API_KEY=...

# App settings
POLL_AMOUNT=20
CLASSIFY_FIRST_AMO=10
CLASSIFY_SECOND_AMO=5

# Database
DB_RETENTION_DAYS=30

# DEBUG:
DEBUG_LOGS = 'false'
DEBUG_PASS1= 'false'