# IMAP Configuration
IMAP_HOST=...
IMAP_PORT=993
IMAP_SECURE=true
IMAP_USER=...
IMAP_PASS=...
SITE_PASSWORD=...

# API Keys
KEY_TYPE=1
ANTHROPIC_API_KEY=...
GEMINI_API_KEY=...

# App settings
POLL_BATCH_SIZE=50
POLL_TOTAL_AMO=50
POLL_TYPE=1
POLL_0_DEBUG_START=0
CLASSIFY_FIRST_AMO=50
CLASSIFY_SECOND_AMO=5
CLASSIFY_THIRD_AMO=50
RUN_INTERVAL= 30 #minutes
PURGE_INTERVAL= 6 #hours

# DEBUG:
DEBUG_LOGS = 'false'
LITE_DEBUG = 'true'
DEBUG_PASS1= 'false'